body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

header{
  position: relative;
}
  
.container{
  width: 940px;
  margin: 0 auto;
}

.bag{
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right ;

  width: 140px;
  font-size: 14px;
  padding:8px 35px 0 0;
  text-align: right;
  margin-top: 10px;

  position: absolute;
  top: 0;
  right: 0;
}

.menu-home ul{
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-home ul li{
  display: inline;
  margin-left: 20px; 
}

.menu-home a{
  color: #333333;
}

.menu-home a:visited{
  color: #003366;
}

.menu-home a:active{
  color: #ff5964
}

.featured{
  margin-top: 10px;
}

.search, .menu-departments{
  background-color: #DCDCDC;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 15px;
  width: 230px;
  float: left;
  
}
.menu-departments{
  clear: both;
  margin-top: 10px;
  padding-bottom: 10px;
  
}

.menu-departments li a::before{
  content: '\272A';
  margin-right: 2px;
}

.menu-departments li:hover {
  color: #ff5964;
}

.menu-departments li ul{
  display: none;
  
}

.menu-departments li:hover ul{
  display: block;
  color: #333333;
  
}

.menu-departments ul ul li{
  border-bottom: 1px solid black;
  text-align: center;
}

.menu-departments  li li a:before {
  content: '- ';
}

.search h2, .search form, .menu-departments h2{
  margin: 10px;
}

.search input[type=search] {
  width: 170px;
  height: 25px;
  border-radius: 10px;
}

.search button{
  /* adicionando imagem */
  background-image: url(../img/busca.png);
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;

  /* tamanho da imagem */
  width: 20px;
  height: 20px;

  /* imagem replacement */
  text-indent: -9999px;
  cursor: pointer;
}

.search form a{
  color: inherit;
}

.search h2:hover + form input , .search input:focus{
  border: 2px solid #ff5964 ;
}

.menu-departments li{
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 1px;
  
}

.menu-departments a{
  color: inherit;
  text-decoration: none;
}

.banner-featured img{
  border-radius: 15px;
}

.panel{
  margin: 10px 0;
  padding: 10px;
  width: 445px;
}

.panel h2{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(255,255,255,0.8);
}

.panel li{
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 2px;
  padding-bottom: 10px;
  transition: 0.7s ease-out;
}

.panel li:hover {
  box-shadow: 0 0 5px #333;
  background-color: rgba(255,255,255,0.8);
  transform: scale(1.2) rotate(-5deg);
  transition: box-shadow 0.7s,
              background-color 0.7s,
              transform 1s ease-in;
}

.panel li:nth-child(2n):hover {
  transform: scale(1.2) rotate(5deg);
}


.panel a{
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.panel figcaption:before{
  content: '\2756';
  opacity: 0.4;
}

.news-section{
  margin: 50px 0;
  float: left;
  border-radius: 15px;
  -webkit-box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
  background: linear-gradient(#F5DCDC, #BEBEF4);
  transition: box-shadow 1s, 
              color 1s;
}

.news-section:hover {
  color: #ff5964;
  box-shadow: -4px 2px 5px 0px #ff5964;
}

.best-sellers{
  margin: 50px 0;
  float: right;
  border-radius: 15px;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
  background: linear-gradient(#DCDCF5, #F4BEBE);
  transition: box-shadow 1s, 
              color 1s ;
}

.best-sellers:hover{
  color: #ff5964;
  box-shadow: 4px 2px 5px 0px #ff5964;
}

footer{
  background-image: url(../img/fundo-rodape.png);
  clear: both;
  padding: 30px 0;
}

footer .container {
  position: relative;
}

.social{
  position: absolute;
  right: 0;
  top: 12px;
}

.social li{
  float: left;
  margin-left: 25px;
}

.social a{
  height: 32px;
  width: 32px;
  display: block;
  text-indent: -9999px;
}

.social a[href*="facebook.com"]{
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"]{
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"]{
  background-image: url(../img/googleplus.png);
}

@media (max-width: 939px){
  .container{
    width: 96%;
  }

  header h1{
    text-align: center;
  }

  header h1 img {
    max-width: 50%;
  }
  .bag{
    display: none;
  }
  .menu-home ul{
    position: static;
    text-align: center;
  }
  .menu-home ul li{
    display: inline-block;
    margin: 5px;
  }

  .search,
  .menu-departments,
  .banner-featured img{
    margin-right: 0;
    width: 100%;
  }

  .panel{
    width: auto;
  }

  .panel li{
    width: 30%;
  }
  
  .panel img{
    width: 100%;
  }
}

@media (min-width: 480px){
  header h1{
    margin: 5px 0;
  }
  .menu-departments{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .menu-departments nav > ul{
    column-count: 2;
  }
}

@media (min-width: 720px) {
  header h1{
    text-align: left;
  }

  .menu-home ul{
    position: absolute;
  }

  .bag{
    display: block;
  }

  
  .panel li{
    width: 15%;
  }

  .search,
  .menu-departments{
    margin-right: 1%;
    width: 30%;
  }

  .menu-departments nav > ul {
    column-count: 1;
  }

  .banner-featured img{
    width: 69%;
  }

}

@media (min-width: 940px){
  .panel li{
    width: 31%;
  }
}

