body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

header{
  position: relative;
}
  
.container{
  width: 940px;
  margin: 0 auto;
}

.bag{
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right ;

  width: 140px;
  font-size: 14px;
  padding:8px 35px 0 0;
  text-align: right;
  margin-top: 10px;

  position: absolute;
  top: 0;
  right: 0;
}

.menu-home ul{
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-home ul li{
  display: inline;
  margin-left: 20px; 
}

.menu-home a{
  color: #003366;
}

.featured{
  margin-top: 10px;
}

.search, .menu-departments{
  background-color: #DCDCDC;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 15px;
  width: 230px;
  float: left;
  
}
.menu-departments{
  clear: both;
  margin-top: 10px;
  padding-bottom: 10px;
}

.search h2, .search form, .menu-departments h2{
  margin: 10px;
}

.search input[type=search] {
  width: 170px;
  height: 25px;
  border-radius: 10px;
}

.search form a{
  color: inherit;
}

.menu-departments li{
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 1px;
  
}

.menu-departments a{
  color: inherit;
  text-decoration: none;
}

.banner-bigCity{
  border-radius: 15px;
}
