body{
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 940px;
  margin: 0 auto;
}

header{
  position: relative;
  margin-bottom: 30px;
}
  
.bag{
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right ;
  width: 140px;
  font-size: 14px;
  padding:8px 35px 0 0;
  text-align: right;
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-home ul{
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.menu-home ul li{
  display: inline;
  margin-left: 20px; 
}

.menu-home a{
  color: #003366;
}

.paragraph{
  line-height: 1.4;
  padding: 0 45px;
  text-indent: 15px;
}

.subtitle{
  border-bottom: 3px black solid;
  margin-top: 30px;
}

.distribution-image{
  background-color: #F2EDED;
  border: 1px solid black;
  padding: 15px;
  width: 550px;
  margin: 0 auto;
}

.family-image{
  background-color: #F2EDED;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  margin: 0 0 10px 10px;
  float: right;
}

.image-legend{
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

.footer-style{
  color: #777;
  padding: 30px 0;
  margin: 30px 0;
}

.footer-style img{
  margin-right: 30px;
  vertical-align: middle;
  width: 94px;
}
