body{
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 940px;
  margin: 0 auto;
  
}

.paragraph{
  line-height: 1.4;
  padding: 0 45px;
  text-indent: 15px;
}

.main-title{
  background-image: url(./img/sobre-background.jpg);
  padding: 10px; 
  color: black;
}

.subtitle{
  border-bottom: 3px black solid;
  margin-top: 30px;
}

.distribution-image{
  background-color: #F2EDED;
  border: 1px solid black;
  padding: 15px;
  width: 550px;
  margin: 0 auto;
}

.family-image{
  background-color: #F2EDED;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  margin: 0 0 10px 10px;
  float: right;
}

.image-legend{
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

.footer-style{
  color: #777;
  padding: 30px 0;
  margin: 30px 0;
}


.footer-style img{
  margin-right: 30px;
  vertical-align: middle;
  width: 94px;
}
