.main-header{
  padding: 10px 20px 20px;
  text-align: center;
  font-size: 14px;
}

.main-header > .logo{
  width: 150px;
  margin-bottom: 10px;
}

.main-header > .shopping-bag {
  display: none;
}

.main-header .action{
  display: inline-block;
  margin: 0 10px 10px;
}

@media (min-width: 840px){
  .main-header{
    display: flex;
    justify-content: space-between;
    position:  relative;
  } 

  .main-header > .menu{
    align-self: flex-end;
  }

  .main-header > .shopping-bag {
    display: block;
    position: absolute;
    top:0;
    right:20px;
  }
}