.product-mirror{
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px 10px;
}

.product-mirror > .price {
  font-style: italic;
  margin-bottom: 30px;
}

.product-mirror .legend{
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.details {
  padding: 2em 0 4em 0;
}

.details h2 {
  font-size: 1.5em;
  line-height: 2;
}

.details p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5;
  max-width: 36em;
}

table {
  border-spacing: 0.2em;
  border-collapse: separate;
}
thead {
  background-color: #999;
}
thead th {
  font-weight: bold;
  padding: 0.3em 1em;
  text-align: center;
}
td {
  padding: 0.3em;
}
tr:nth-child(2n) {
  background-color: #CCC;
}
td:first-child {
  font-style: italic;
}


@media(min-width: 450px){
  .product-mirror{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

@media (min-width: 500px) {
  .details {
    font-size: 1.2em;
  }
  }

@media (min-width:  840px){
  .product-mirror{
    position: relative;
    display: block;
    margin: 0 20px; 
  }

  .product-mirror > .price {
    position: absolute;
    left: 448px;
    top: 80px;
  }
}

@media (min-width: 1262px){
  .product-mirror{
    margin-left: auto;
    margin-right: auto;  
  }
}